<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <table align="center" style="width:98%;">
      <tr>
        <td align="center">
    <a href="http://pikwon.herokuapp.com/"><img style="width:300px; text-align:center; margin: 0 auto;" src="http://i.imgur.com/dMtNiMN.png"></a>

    <h1 style="color:#3dd9da; text-align:center;">HEY <%= @user.fname.upcase %>!</h1>

</td>
</tr>
    <table style="width:100%;">

    <p>
      Looks like you had some trouble signing in, so here I come to the rescue!
      <br><br>
      Your shiny new password is: <%= @random_password %>
      <br><br>
      I suggest going in and updating this password once you have access to your account,
      but you do you and I'll just do me (I think that's a phrase right?).
      <br><br>
      Chris Garvin
      <br>
    </table>
    <table style="width:100%;">

      <a style="color:#3dd9da;" href="mailto:chris@pikwon.com">Chris@pikwon.com</a><br>
      <a style="color:#3dd9da;" href="mailto:support@pikwon.com">Support@pikwon.com</a>
    </p>
  </table>

  </table>
  </body>
  <!-- @media only screen and (max-width: 480px) {
  /* mobile-specific CSS styles go here */
  table[class=email], table[class=email-content] {
    clear: both;
    width: 320px !important;
    font-size: 13px !important;
  }
} -->
</html>
