<div class="container">

<div class="logo">
  <span class ="character">p</span>
  <span class ="character">i</span>
  <span class ="character">k</span>
</div>

<% @posts.all.sample(1).each do |post| %>
<div class="options">

  <a href=""><%= post.options.first.option_text.upcase %></a>

</div>
<span class="new">
  <%= link_to "NEW", new_post_path %>
</span>
<div class="options">

  <a href=""><%= post.options.second.option_text.upcase %></a>

</div>

<% end %>

<div class="logo">
  <span class ="character">w</span>
  <span class ="character">o</span>
  <span class ="character">n</span>
</div>

</div>
