<!DOCTYPE html>
<html>
<head>
  <title>Pikwon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>
<footer class='footer'>
  Copyright &copy; 2015 Chris Garvin
</footer>
</body>
</html>
